@page "/GraficaEstudiante/{handler?}/{loteRespuestaId?}"
@model CIAC_TAS_Web_UI.Pages.ASA.GraficaEstudianteModel
@{
	ViewData["Title"] = "Grafica Estudiante Cuestionario";
}

<!-- From here, we should put this code as template in each page -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Graficas Cuestionario Page</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
						<li class="breadcrumb-item active">Graficas Cuestionario Page</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- /.box-header -->
	<div class="col-sm-12">
		@{
			if (Model.UserIdWhenAdmin != string.Empty)
			{
				<a asp-page="/ASA/GraficasEstudiante" asp-route-userId="@Model.UserIdWhenAdmin" class="fa fa-arrow-circle-left" style="font-size:25px;"></a>
			} else
			{
				<a asp-page="/ASA/GraficasEstudiante" class="fa fa-arrow-circle-left" style="font-size:25px;"></a>
			}
		}
		
	</div>
	<br />

	<!-- Main content -->
	<section class="content">

		<!-- Default box -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Grafica Cuestionario</h3>

				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="card-body">

				<!-- PIE CHART -->
				<div class="card card-danger">
					<div class="card-header">
						<h3 class="card-title">Cuestionario Chart</h3>

						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse">
								<i class="fas fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<label>Numero Total de Preguntas: @Model.GraficaEstudianteModelView.Count()</label>
						<canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
						@{
							if (Model.UserIdWhenAdmin != string.Empty)
							{
								<a asp-page-handler="DownloadGraficaEstudianteReport" asp-page="/ASA/GraficaEstudiante" asp-route-loteRespuestaId="@ViewContext.RouteData.Values["loteRespuestaId"]" asp-route-externalUserId="@Model.UserIdWhenAdmin" class="fas fa-file-pdf" style="font-size:15px;"> Download PDF</a>
							} else
							{
								<a asp-page-handler="DownloadGraficaEstudianteReport" asp-page="/ASA/GraficaEstudiante" asp-route-loteRespuestaId="@ViewContext.RouteData.Values["loteRespuestaId"]" class="fas fa-file-pdf" style="font-size:15px;"> Download PDF</a>
							}
						}						
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->

			</div>
			<!-- /.card-body -->
			<div class="card-footer">
				@{
					if (Model.Message != null && Model.Message != string.Empty)
					{
						<div id="mensajeDiv" class="callout callout-danger">
							@Model.Message
						</div>
					}
				}
			</div>
			<!-- /.card-footer-->
		</div>
		<!-- /.card -->

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- To here -->
@section scripts {
	<script>
		//-------------
		//- PIE CHART -
		//-------------

		var graficaEstudianteModelView = @Html.Raw(Json.Serialize(Model.GraficaEstudianteModelView));

		var numeroCorrectas = 0;
		var numeroIncorrectas = 0;
		var numeroNoRespondidas = 0;

		$.each(graficaEstudianteModelView, function (index, item) {
			if (item.opcion == null) {
				numeroNoRespondidas = numeroNoRespondidas + 1;
			} else {
				if (item.respuestaCorrecta) {
					numeroCorrectas = numeroCorrectas + 1;
				} else {
					numeroIncorrectas = numeroIncorrectas + 1;
				}
			}
		});

		var donutData = {
			labels: [
				'Incorrectas',
				'Correctas',
				'No Respondidas',
			],
			datasets: [
				{
					data: [numeroIncorrectas, numeroCorrectas, numeroNoRespondidas],
					backgroundColor: ['#f56954', '#00a65a', '#d2d6de'],
				}
			]
		}

		var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
		var pieData = donutData;
		var pieOptions = {
			maintainAspectRatio: false,
			responsive: true,
		}
		//Create pie or douhnut chart
		// You can switch between pie and douhnut using the method below.
		new Chart(pieChartCanvas, {
			type: 'pie',
			data: pieData,
			options: pieOptions
		})
	</script>
}