@page 
@model CIAC_TAS_Web_UI.Pages.Instructor.InstructorMateriasModel
@{
    ViewData["Title"] = "Instructores Materias";
}

<!-- From here, we should put this code as template in each page -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Instructores Materias Page</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
                        <li class="breadcrumb-item active">Instructor Materias</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- /.box-header -->
    <div class="col-sm-12">
        <a asp-page="/Instructor/InstructoresMateriasPreview" class="fa fa-arrow-circle-left" style="font-size:25px;"></a>
    </div>
    <br />

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@Model.InstructorNombre</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>


            <div class="card-body">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-materiaGrupo">
                    <span class="btn-label"><i class="fa fa-plus"></i></span>
                </button>
                <br />
                <!-- Modal -->
                <div class="modal fade" id="modal-materiaGrupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Asignar Estudiantes a grupo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                
                                <div class="form-group">
                                    <label asp-for="NewGrupoId" class="control-label">Grupo</label>
                                    <select asp-for="NewGrupoId" asp-items="Model.GrupoOptions" class="form-control" placeholder=" Seleccione una opcion">
                                        <option value="">Seleccione una opcion</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="NewMateriaId" class="control-label">Materia</label>
                                    <select asp-for="NewMateriaId" asp-items="Model.MateriaOptions" class="form-control" placeholder=" Seleccione una opcion">
                                        <option value="">Seleccione una opcion</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" id="agregarBtn" onclick="addNewMateriaGrupo(this)" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Grupo</th>
                            <th>Materia</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.InstructorMateriasModelView)
                            {
                                <tr>
                                    <td>@item.GrupoNombre</td>
                                    <td>@item.MateriaNombre</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                @{
                    if (Model.Message != null && Model.Message != string.Empty)
                    {
                        <div id="mensajeDiv" class="callout callout-danger">
                            @Model.Message
                        </div>
                    }
                }
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- To here -->

<script type="text/javascript">
    $(function () {
        $('#paginated-table').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 30
        });

        //align search box to left
        $("#paginated-table_filter").parent().closest('div').removeClass("col-md-6").addClass("col-md-12")
    });

    function addNewMateriaGrupo() {
        var grupoId = $('#NewGrupoId').val();
        var materiaId = $('#NewMateriaId').val();
        var instructorId = @Model.InstructorId;

        if (grupoId != '' && materiaId != '') {
            window.location = '@Url.Page("/Instructor/InstructorMaterias")/?handler=NewMateriaGrupo&grupoId=' + grupoId + '&materiaId=' + materiaId + '&instructorId=' + instructorId;
        }
    }
</script>
